<div class=" border p-4 rounded-md my-3 bg-gray-200">
  {% if product.metafields.custom.warranty %}
    <p class="">
      <strong class="">Warranty:</strong> {{ product.metafields.custom.warranty }}
    </p>
  {% else %}
    <p><strong>Warranty:</strong> 1 Year Warranty</p>
  {% endif %}
</div>

<div class="border p-6 rounded-md my-3 bg-gray-100">
  {% if product.metafields.custom.detailed_description %}
    <div class="detailed-description">
      {{ product.metafields.custom.detailed_description }}
    </div>
  {% else %}
    <div class="detailed-description">
      <p>This product is made with high-quality materials.</p>
    </div>
  {% endif %}
</div>
