{% comment %} Product Warranty & Details Snippet {% endcomment %}

{% assign warranty_text = product.metafields.custom.warranty | default: section.settings.warranty_text %}
{% assign test_text = product.metafields.custom.test_data %}
{% assign description_text = product.metafields.custom.detailed_description
  | default: section.settings.detailed_description
%}

{% if section.settings.show_warranty and warranty_text != blank %}
  <div class="border p-4 rounded-md my-3 bg-gray-200">
    <p><strong>Warranty:</strong> {{ warranty_text }}</p>
    <p><strong>TEst:</strong> {{ test_text }}</p>
  </div>
{% endif %}

{% if section.settings.show_detailed_description and description_text != blank %}
  <div class="border p-6 rounded-md my-3 bg-gray-100">
    <div class="detailed-description">
      {{ description_text | metafield_tag }}
    </div>
  </div>
{% endif %}
