<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
</style>

<div
  class="template-404 page-width page-margin center"
>
  <p class="text-5xl text-green-500 font-semibold">
    {{ 'templates.404.subtext' | t }}
  </p>
  <h1>
    {{ 'templates.404.title' | t }}
  </h1>
  <div x-data="{ open: false }">
    <button @click="open = !open" class="bg-green-500 text-white px-4 py-2">Toggle</button>
    <div x-show="open" class="mt-2 text-gray-700">Alpine.js is working!</div>
  </div>
  <h2
    class="text-4xl bg-red-500 border text-white py-11"
  >
    Sorry We Could Find Your Page
  </h2>

  <a
    href="{{ routes.all_products_collection_url }}"
    class="my-10 px-6 py-4 text-2xl hover:bg-red-400 active:scale-95 rounded-md bg-green-500 text-white"
  >
    {{ 'general.continue_shopping' | t }}
  </a>
</div>
